
.logo {
    padding-left: 50px;
}

.img_p {
    align-items:center;
}


.header {
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    border: none;
}


body {
    background-color: white;
    margin: 0 auto;
}


.topnav {
    background-color: #C9D3C7;
    overflow: hidden;
}


nav {
    display: block;
    background-color: #C9D3C7;
    padding: 15px;
    align-items: flex-end;
    float:right;
    margin: 0;
}

nav a {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    background-color: #C9D3C7;
    vertical-align: middle;
    padding: 15px;
}

nav a:hover {
    background-color: rgb(80, 80, 80);
    color: yellow;
}

.div-top {
    text-align: center;
}

.img-top {
    width: 1600px;
    object-fit: cover;
}

.img-footer {
    width: 1000px;
    object-fit: cover;
}


table {
    width: 100%;
    column-width: auto;
}

td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.infoprod {
    padding: 10px 15px;
}

article {
    width: 200px;
    height: 300px;
    
    border: 2px solid red;
    margin: 25px;
    padding: 25px;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    align-content: space-between;
    border-radius: 10px;
    
}

.div-art {
    margin: auto;
    display: block;

}

.divimg-footer {
    margin: 0;
    display: inline-block;
    justify-content: center;
}


footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;    
}

#p-footer {
    background-color: #C9D3C7;
    margin: 0;
    height: 15px;
    padding: 10px;
    color: red;
}

hr {
    margin: 0;
    color:rgb(220, 50, 50)
}

.divf {
    display: block;
    padding: 25px;
}