<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Wine</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    

</head>

<body>
    <!-- <div>
        <object class="header" type=""text/html" data="global/header.html"></object>
    </div> -->
  
    <!-- <br/> -->

    <div class="topnav">
        <nav>
            <a href="../index.html">Home</a>|
            <a href="cognac.html">Cognac</a>|
            <a href="whiskey.html">Whiskey</a> |
            <a href="rum.html">Rum</a> |
            <a href="champagne.html">Champagne</a> |
            <a href="wine.html">Wine</a> |
            <a href="vodka.html">Vodka</a> |
            <a href="../users/login.html"><img src="images/sign-in100px.png" alt="Order" width="20px"></a> |
            <a href="../orders.html"><img src="images/cart-100px.png" alt="Order" width="25px"></a>
        </nav>
    </div>

    <br/>
       
        <div>
            <center>
                <table border="0">
                    <tr>
                        <td><img class="logo" src="images/logo.png" alt="All-Cool" height="225"></td>
                        <td><img src="images/wine-00.jpg" alt="Wine" height="500"></td>
                        <td><img class="logo" src="images/logo.png" alt="All-Cool" height="225"></td>
                    </tr>
            </table>
            </center>

        </div>

    <br/>

    <article>
        <div class="infoprod">
            <div>
                <font>VS</font>
            </div>
            <div>
                <td><img src="images/cognac-01.jpg" alt="Cognac" height="225"></td>
            </div>
            <div>
                <font>164<sup>99</sup> lei</font>
            </div>
            <div>
                <font>COMANDA</font>
            </div>
        </div>
    </article>

    <article>
        <div class="infoprod">
            <div>
                <font>X.O</font>
            </div>
            <div>
                <td><img src="images/cognac-02.jpg" alt="Cognac" height="225"></td>
            </div>
            <div>
                <font>139<sup>99</sup> lei</font>
            </div>
            <div>
                <font>COMANDA</font>
            </div>
        </div>
    </article>

    <article>
        <div class="infoprod">
            <div>
                <font>5 STELE</font>
            </div>
            <div>
                <td><img src="images/cognac-03.jpg" alt="Cognac" height="225"></td>
            </div>
            <div>
                <font>42<sup>50</sup> lei</font>
            </div>
            <div>
                <font>COMANDA</font>
            </div>
        </div>
    </article>

    <article>
        <div class="infoprod">
            <div>
                <font>12 STELE</font>
            </div>
            <div>
                <td><img src="images/cognac-04.jpg" alt="Cognac" height="225"></td>
            </div>
            <div>
                <font>139<sup>00</sup> lei</font>
            </div>
            <div>
                <font>COMANDA</font>
            </div>
        </div>
    </article>

    <article>
        <div class="infoprod">
            <div>
                <font>AMBRE</font>
            </div>
            <div>
                <td><img src="images/cognac-05.jpg" alt="Cognac" height="225"></td>
            </div>
            <div>
                <font>213<sup>00</sup> lei</font>
            </div>
            <div>
                <font>COMANDA</font>
            </div>
        </div>
    </article>

    <article>
        <div class="infoprod">
            <div>
                <font>VIRSTA 10 ANI</font>
            </div>
            <div>
                <td><img src="images/cognac-06.jpg" alt="Cognac" height="225"></td>
            </div>
            <div>
                <font>79<sup>99</sup> lei</font>
            </div>
            <div>
                <font>COMANDA</font>
            </div>
        </div>
    </article>



  

   

    

</body>


</html>