body {
    background-color: white;
    margin: 0 auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.container {
    /* padding-left: 5px;
    padding-right: 5px; */
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #C9D3C7;
    width: 100%;
    height: 65px;
    margin: 0;
    border: none;
}

.vt-al {
    align-items: center;
}

.menu-nav {
    padding: 15px;
    text-align: right;
}

nav a {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    background-color: #C9D3C7;
    vertical-align: middle;
    padding: 15px;
}

nav a:hover {
    color: rgb(95, 62, 62);
}

.content {
    width: 90%;
    margin-left: 10px;
    background-color: white;
}

.add-cart {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #C9D3C7;
    padding: 5px;
    font-size: smaller;
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 10% auto;
}

.row {
    display: flex;
}


.sidebar {
    width: calc(10% - 10px);
    background-color: #C9D3C7;
    text-align: center;
    margin: 0;
}

.sidebar a {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    background-color: #C9D3C7;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

.w3-sidebar{
    height:100%;
    width: 10%;
    background-color:#C9D3C7;
    position:fixed!important;
    z-index:1;
    overflow:auto;
    text-align: center;
    padding: 15px;
}

.w3-bar-item{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}

.w3-container {
    padding:0.01em 16px
}

.side-nav a {
    padding: 15px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    background-color: #C9D3C7;
    vertical-align: middle;
}

.p-10 {
    padding: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.table-contents {
    padding-right: 20px;
}

table, th, tr, td {
    border: 1px solid  #C9D3C7;
    border-collapse: collapse;
}

footer {
    background-color: #C9D3C7;
    width: 100%;
    height: 90px;
    margin: 0;
    border: none;
    text-align: center;
}

.after-footer {
    background-color: #C9D3C7;
    text-align: center;   
}

#p-footer {
    background-color: #C9D3C7;
    margin: 0;
    height: 15px;
    padding: 10px;
    color: red;
}

hr {
    margin: 0;
    text-align: center;
}

.td-center {
    text-align: center;
    padding: 5px;
}

.logo {
    padding-left: 50px;
}

.col-red {
    color: red;
    font-weight: bold;
}

.img-top {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.img_p {
    align-items:center;
}

.img-resp {
    width: 50%;
    height: auto;
    max-width: 100%;   
}

.asterix {
    color: red;
    line-height: 80%;
}

.red-label {
    color: red;
}
  
.req {
    height: 30px;
}
  
.prod-art {
    width: 200px;
    height: 365px;
    border: 2px solid red;
    margin: 25px;
    padding: 10px;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    align-content: space-between;
    border-radius: 10px;
    background-color:white;
}

.div-art {
    margin: auto;
    display: block;
}

.table-form-prod {
    background-color: #C9D3C7;
    width: 45%;
    margin: auto;
    text-align: left;
}

.form-product {
    padding-left: 20px;
    padding-top: 10px;
    background-color: #C9D3C7;
}

.container-form {
    width: 100%;
    padding: 10px;
    background-color: #C9D3C7;
  }

.cont-upprod {
    width: 90%;
    margin-left: 10px;

}

/* table {
    counter-reset: rowNumber;
}

table tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
} */
