body {
    background-color: white;
    margin: 0 auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.container {
    /* padding-left: 5px;
    padding-right: 5px; */
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #C9D3C7;
    width: 100%;
    height: 65px;
    margin: 0;
    border: none;
}

footer {
    background-color: #C9D3C7;
    width: 100%;
    height: 90px;
    margin: 0;
    border: none;
    text-align: center;
}

.fix-ft {
    position: fixed;
    left: 0;
    bottom: 0;
}

.after-footer {
    background-color: #C9D3C7;
    text-align: center;   
}

#p-footer {
    background-color: #C9D3C7;
    margin: 0;
    height: 15px;
    padding: 10px;
    color: red;
}

.text-center {
    text-align: center;
}

.menu-nav {
    padding: 15px;
    text-align: right;
}


nav a {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    background-color: #C9D3C7;
    vertical-align: middle;
    padding: 15px;
}

nav a:hover {
    color: rgb(95, 62, 62);
}

hr {
    margin: 0;
    text-align: center;
}

.logo {
    padding-left: 50px;
}

#in-im-lo {
    padding-left: 365px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

