
body {
    background-color: white;
    margin: 0 auto;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.container {
  /* padding-left: 5px;
  padding-right: 5px; */
  margin-left: auto;
  margin-right: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

header {
  background-color: #C9D3C7;
  width: 100%;
  height: 65px;
  margin: 0;
  border: none;
}

.menu-nav {
  padding: 15px;
  text-align: right;
}

nav a {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  background-color: #C9D3C7;
  vertical-align: middle;
  padding: 15px;
}

nav a:hover {
  color: rgb(95, 62, 62);
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 10% auto;
}

.row {
  display: flex;
}

.content {
  width: 90%;
  margin-left: 10px;
  background-color: white;
}

.content-user {
  width: 90%;
  height: 740px;
  margin-left: 10px;
}

.text-admin {
  padding-left: 50px;
  color: white;
}

.text-user {
  padding-left: 50px;
  color: white;
}

footer {
  background-color: #C9D3C7;
  width: 100%;
  height: 90px;
  margin: 0;
  border: none;
  text-align: center;
}

.fix-ft {
  position: fixed;
  left: 0;
  bottom: 0;
}

.after-footer {
  background-color: #C9D3C7;
  text-align: center;   
}

#p-footer {
  background-color: #C9D3C7;
  margin: 0;
  height: 15px;
  padding: 10px;
  color: red;
}

hr {
    margin: 0;
    text-align: center;
}

.td-center {
  text-align: center;
  padding: 5px;
}

.logo {
    padding-left: 375px;
}

.login-logo {
  padding-left: 350px;
}

#signIn {
  color: red;
}

.asterix {
  color: red;
}


.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin-left: 250px;
  height: 435px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  /* font-family: "Roboto", sans-serif; */
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  /* font-family: "Roboto", sans-serif; */
  text-transform: uppercase;
  outline: 0;
  background: black;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #EF3B3A;
}

.form .message {
  margin: 15px 0 0;
  color: black;
  font-size: 12px;
}

.form .message a {
  color: #EF3B3A;
  text-decoration: none;
}

.form .register-form {
  display: none;
}


.sidebar {
  width: calc(10% - 10px);
  background-color: #C9D3C7;
  text-align: center;
  margin: 0;
}

.sidebar a {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  background-color: #C9D3C7;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
}

.w3-sidebar{
  height:100%;
  width: 10%;
  background-color:#C9D3C7;
  position:fixed!important;
  z-index:1;
  overflow:auto;
  text-align: center;
  padding: 15px;
}

.w3-bar-item{
  padding:8px 16px;
  float:left;
  width:auto;
  border:none;
  display:block;
  outline:0
}

.w3-container {
  padding:0.01em 16px
}

.side-nav a {
    padding: 15px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    background-color: #C9D3C7;
    vertical-align: middle;
}

.p-10 {
  padding: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.table-contents {
    padding-right: 20px;
}

table, tr, td {
    border: 1px solid  #C9D3C7;
    border-collapse: collapse;

}


#border-none {
    border: 0;
}

#table-top {
    border: 0;
}

.td-center {
    text-align: center;
    padding: 5px;
}

.table-form-user {
  background-color: #C9D3C7;
  width: 35%;
  margin: auto;
  text-align: left;
}

.table-form-aduser {
  background-color: #C9D3C7;
  width: 45%;
  margin: auto;
  text-align: left;
}

.form-user {
  padding-left: 20px;
  padding-top: 10px;
  background-color: #C9D3C7;
}

.cont-upuser {
  width: 90%;
  margin-left: 10px;

}

.container-form {
  width: 100%;
  padding: 50px;
  background-color: #C9D3C7;
}

.asterix {
  color: red;
  line-height: 80%;
}

.red-label {
  color: red;
}

.req {
  height: 30px;
}

.center {
  text-align: center;
}

.inttable {
  padding: 10px;
  border: 0;
}

input[type=text], input[type=password], input[type=email], input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #F1F1F1;
  }
  
  h2 {
    color: white;
  }
  
  button {
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #F1F1F1;
  }
  
  input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]  {
    background-color: whitesmoke;
    outline: none;
  }
  

  .registerbtn {
    background-color: black;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
.registerbtn:hover {
  opacity: 1;
}



.yes-not {
  padding-left: 40px;
  padding-right: 40px;
}


.notall {
  padding-left: 50px;
}

.notdiv {
  padding-left: 50px;
}

.regf {
  background-color: #C9D3C7;
  width: 50%;
  position: absolute;
  right: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
}

.reg-logo{
  float: right;
  padding-right: 300px;
}

#reg-container {
  padding: 50px;
  margin: 0 auto;
  width: 100%;
  background-color: #C9D3C7;
}

table#altab, table#altab tr, table#altab td {
  border: none;
}

table#mydate, table#mydate tr, table#mydate td {
  border: none;
}

.tx-ft {
  font-weight: bold;
  font-size: medium;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tx-it {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  height:30px;
  width: 20%;
  padding-left: 20px;
  height: 30px;
}

.tx-get {
  font-family: 'Times New Roman', Times, serif;
  height:30px;
  width: 80%;
  padding-left: 20px;
}

table#logotop, table#logotop tr, table#logotop td {
  border: none;
  padding: 10px;
}

.top-al {
  display: inline;
  vertical-align: top;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
}

.user-art {
  width: 150px;
  height: 35px;
  text-decoration: none;
  border: 1px solid black;
  margin: 25px;
  padding: 5px 0;
  border-radius: 5px;
  background-color: #C9D3C7;
  text-align: center;
}


article a {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

#id-admin {
  font-size: 12px;
  text-align: center;
}

.pass-tx {
  font-size: 12px;
  padding-left: 5px;
  color: red;
}




