<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" href="css/cart.css" th:href="@{/css/cart.css}">
</head>
<body>
<div class="container clearfix">
    <header>
        <div>
            <nav class="menu-nav">
                <a th:href="@{/}">Home</a>|
                <a th:href="@{/products/cognac}">Cognac</a>|
                <a th:href="@{/products/whiskey}">Whiskey</a> |
                <a th:href="@{/products/rum}">Rum</a> |
                <a th:href="@{/products/champagne}">Champagne</a> |
                <a th:href="@{/products/wine}">Wine</a> |
                <a th:href="@{/products/vodka}">Vodka</a> |
                <a th:href="@{/users/user}"><img src="images/sign-in100px.png" alt="Login" width="20px"></a> |
                <a th:href="@{/cart}"><img src="images/cart-100px.png" alt="Cart" width="25px"></a>
            </nav>
        </div>
    </header>
</div>
<br>
<div class="container">
    <img class="img-top" src="images/cart2700.png" alt="Alcoholic Drinks" >
</div>

<br>
<div class="container">
    <div>
        <img class="img-resp" src="images/pleasedrinkresp.png" alt="Cognac">
    </div>
</div>
<!-- <div class="container" th:href="@{/users}">
    <div>
        <h3><span th:text="${user.username}"> </span><span> shopping cart</span>
        </h3>
    </div>
</div><br> -->
<div class="container">
    <div th:each="user: ${user}">
        <span th:text="${user.username}"></span> <span> shopping cart</span>
    </div>
</div><br>
<div class="clearfix" th:href="@{/cart}">

    <table class="center text-center" width="80%" >
        <thead>
        <tr>
            <th width="3%">Id</th>
            <th width="7%">Photo</th>
            <th width="15%">Product</th>
            <th width="10%">Producer</th>
            <th width="10%">Quantity</th>
            <th width="10%">Price (each)</th>
            <th width="10%">Price (total)</th>
            <th width="5%">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cart: ${productListAddedToCart}">
            <td class="counterCell" width="3%"></td>
            <td width="7%">
                <img th:src="*{'data:image/jpeg;base64,' + {cart.product.image}}" style="width: 50px;height: auto;">
            </td>
            <td width="15%" class="dist-left">
                <i><span th:text="${cart.product.type}"></span></i>
                <span> </span>
                <span th:text="${cart.product.name}"></span>
            </td>
            <td  width="10%" th:text="${cart.product.producer}"></td>

            <td width="10%">
                <table id="mytable" width="100%">
                    <tr>
                        <!-- <td width="50%" align="right">
                            <form action="#" method="POST" th:object="${cart}">
                            <span><input th:field="*{quantityItem}" class="wid-in" type="number" id="quantity" name="quantity" min="1" max="25" value="1" width="25%"></span>
                            </form>
                        </td> -->
                        <td width="50%" align="right">
                            <span><input class="wid-in" type="number" id="quantity" name="quantity" min="1" max="25" value="1" width="25%"></span>
                        </td>
                        <td>
                            <span align="left">pcs.</span>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="10%" th:text="${#numbers.formatDecimal(cart.product.price, 0, 2)}"></td>
<!--            <td width="10%" th:text="${#numbers.formatDecimal(cart.amountItem, 0, 2)}"></td>-->
            <td width="5%"><a
                    th:href="@{/cart/delete-product-from-cart/{productId}(productId=${cart.product.id})}"><img
                    src="images/delete220x220.png" alt="Delete" width="30px"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
<!--        <span th:text="${totalPrice}"-->
        <span>Total price: </span><span th:text="${totalPrice}" /> </span>
    </div>
</div>
<br>
<div>
    <!-- <table class="center text-center" width="90%">
        <thead>
        <tr>
            <th width="5%">Id</th>
            <th width="15%">Photo</th>
            <th width="10%">Type</th>
            <th width="15%">Name</th>
            <th width="10%">Price (each)</th>
            <th width="7%">Quantity</th>
            <th width="3%"></th>
            <th width="35%"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="counterCell" width="5%"></td>
            <td width="15%">
                <img src="images/cognac_02.jpg" style="width: 50px;height: auto;">
            </td>
            <td width="10%">cognac</td>
            <td width="15%">MEUKOW VS</td>
            <td width="10%">100.19 lei</td>
            <td width="7%">
                <span><input class="wid-in" type="number" id="quantity" name="quantity" min="1" max="25" value="1"></span>
            </td>
            <td width="3%">
                <span>pcs.</span>
            </td>
            <td width="35%"> </td>
        </tr>
        <tr>
            <td class="counterCell" width="5%"></td>
            <td width="15%">
                <img src="images/champagne_09.jpg" style="width: 50px;height: auto;">
            </td>
            <td width="10%">champagne</td>
            <td width="15%">CRISTAL ROSE</td>
            <td width="10%">2380.00 lei</td>
            <td width="7%">
                <span><input class="wid-in" type="number" id="quantity" name="quantity" min="1" max="25" value="1"></span>
            </td>
            <td width="3%">
                <span>pcs.</span>
            </td>
            <td width="35%"> </td>
        </tr>
        <tr>
            <td class="counterCell" width="5%"></td>
            <td width="15%">
                <img src="images/whiskey_09.jpg" style="width: 50px;height: auto;">
            </td>
            <td width="10%">whiskey</td>
            <td width="15%">BLUE LABEL</td>
            <td width="10%">952.00 lei</td>
            <td width="7%">
                <span><input class="wid-in" type="number" id="quantity" name="quantity" min="1" max="25" value="1"></span>
            </td>
            <td width="3%">
                <span>pcs.</span>
            </td>
            <td width="35%"> </td>
        </tr>
        <tr>
            <td class="counterCell" width="5%"></td>
            <td width="15%">
                <img src="images/rum_01.jpg" style="width: 50px;height: auto;">
            </td>
            <td width="10%">rum</td>
            <td width="15%">RUM CO.</td>
            <td width="10%">148.75 lei</td>
            <td width="7%">
                <span><input class="wid-in" type="number" id="quantity" name="quantity" min="1" max="25" value="1"></span>
            </td>
            <td width="3%">
                <span>pcs.</span>
            </td>
            <td width="35%"> </td>
        </tr>
        <tr>
            <td class="counterCell" width="5%"></td>
            <td width="15%">
                <img src="images/vodka_04.jpg" style="width: 50px;height: auto;">
            </td>
            <td width="10%">vodka</td>
            <td width="15%">VODKA SKYY</td>
            <td width="10%">83.30 lei</td>
            <td width="7%">
                <span><input class="wid-in" type="number" id="quantity" name="quantity" min="1" max="25" value="1"></span>
            </td>
            <td width="3%">
                <span>pcs.</span>
            </td>
            <td width="35%"> </td>
        </tr>
        <tr>
            <td class="counterCell" width="5%"></td>
            <td width="15%">
                <img src="images/wine_11.jpg" style="width: 50px;height: auto;">
            </td>
            <td width="10%">wine</td>
            <td width="15%">SAINT JULIEN</td>
            <td width="10%">214.20 lei</td>
            <td width="7%">
                <span><input class="wid-in" type="number" id="quantity" name="quantity" min="1" max="25" value="1"></span>
            </td>
            <td width="3%">
                <span>pcs.</span>
            </td>
            <td width="35%"> </td>
        </tr>
        </tbody>
    </table> -->
</div><br>
<div class="container">
    <table id="mytable" class="center" width="80%">
        <tr border="0">
            <td align="left">
                <div>
                    <article class="cart-art"><a th:href="@{/products/cognac}">Continue shopping</a></span>
                </div>
            </td>
            <td align="right">
                <div>
                    <article class="cart-art"><a th:href="@{/orders/create-order}">Create order</a></span>
                </div>
            </td>
        </tr>
    </table>
</div><br>
<div class="container">
    <footer>
        <div>
            <nav class="menu-nav">
                <a th:href="@{/global/terms}">Terms</a>|
                <a th:href="@{/global/gdpr}">GDPR</a>|
                <a th:href="@{/global/contact}">Contact</a>
                <br>
            </nav>
        </div>
        <div class="after-footer">
            <hr color="red">
            <p id="p-footer">&copy; 2022 All-Cool - by Admin<br/></p>
        </div>
    </footer>
</div>
</body>
</html>