<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Champagne</title>

    <link rel="stylesheet" type="text/css" href="css/products.css" th:href="@{/css/products.css}">

    
</head>
<body>
    <div class="container clearfix">
        <header>
            <div>
                <nav class="menu-nav">
                    <a th:href="@{/}">Home</a>|
                    <a th:href="@{/products/cognac}">Cognac</a>|
                    <a th:href="@{/products/whiskey}">Whiskey</a> |
                    <a th:href="@{/products/rum}">Rum</a> |
                    <a th:href="@{/products/champagne}">Champagne</a> |
                    <a th:href="@{/products/wine}">Wine</a> |
                    <a th:href="@{/products/vodka}">Vodka</a> |
                    <a th:href="@{/users/user}"><img src="images/sign-in100px.png" alt="Login" width="20px"></a> |
                    <a th:href="@{/cart}"><img src="images/cart-100px.png" alt="Cart" width="25px"></a>
                </nav>
            </div>
        </header>
    </div>

<div class="container">
    <img class="img-top" src="images/champagne-wallpaper-db.jpg" alt="Champagne" >
</div>

<br>
<div class="container">
    <div>
        <img class="img-resp" src="images/pleasedrinkresp.png" alt="Champagne">
    </div>
</div>

<div class="clearfix" th:href="@{/products/champagne}">
    <div th:each="champagne: ${products}" >
        <article class="prod-art">
            <div>
                Code: CHA<span th:text="${champagne.id}"></span>
                <div>
                    <!-- <a th:href="@{/products/product/{productId}(productId=${champagne.id})}" target="_blank">Link</a> -->
                    <div class="col-red">
                        <p th:text="${champagne.name}"></p>
                    </div>
                    <div>
                        <img th:src="*{'data:image/jpeg;base64,' + {champagne.image}}" style=" height: 200px">
                    </div>
                    
                    <div class="col-red" >
                        <i><span th:text="${#numbers.formatDecimal(champagne.price, 0, 2)}"> </span><span> lei</span></i>
                    </div><br>
                    <div class="text-center" method="POST" enctype="multipart/form-data" th:action="@{/cart/add-product-to-cart/{id}}" th:object="${cart}">
                        <a class="add-cart" th:href="@{/cart}"><img src="images/cart-100px.png" alt="Cart" width="15px"> Add to cart </a>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
<br>

<div class="container">
    <footer>
        <div>
            <nav class="menu-nav">
                <a th:href="@{/global/terms}">Terms</a>|
                <a th:href="@{/global/gdpr}">GDPR</a>|
                <a th:href="@{/global/contact}">Contact</a>
                <br>
            </nav>
        </div>
        <div class="after-footer">
            <hr color="red">
            <p id="p-footer">&copy; 2022 All-Cool - by Admin<br/></p>
        </div>
    </footer>
</div>



</body>

</html>