<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Create Order</title>
    <link rel="stylesheet" type="text/css" href="css/orders.css" th:href="@{/css/orders.css}">
</head>
<body>


<body>
<div class="container clearfix">
    <header>
        <div>
            <nav class="menu-nav">
                <a th:href="@{/}">Home</a>|
                <a th:href="@{/products/cognac}">Cognac</a>|
                <a th:href="@{/products/whiskey}">Whiskey</a> |
                <a th:href="@{/products/rum}">Rum</a> |
                <a th:href="@{/products/champagne}">Champagne</a> |
                <a th:href="@{/products/wine}">Wine</a> |
                <a th:href="@{/products/vodka}">Vodka</a> |
                <a th:href="@{/users/user}"><img src="images/sign-in100px.png" alt="Login" width="20px"></a> |
                <a th:href="@{/cart}"><img src="images/cart-100px.png" alt="Cart" width="25px"></a>
            </nav>
        </div>
    </header>
</div>

<div class="container">
    <div class="grid text-center row">
        <aside class="sidebar">
            <div>
                <img src="images/logo.png" alt="All-Cool" height="75">
            </div>
            <br>

            <div sec:authorize="hasAuthority('ADMIN')">
                <nav class="side-nav">
                    <hr width="100%">
                    <a th:href="@{/users/settingAdmin}" class="w3-bar-item">Setting</a>
                    <hr width="100%">
                    <a th:href="@{/orders/orders-user}" class="w3-bar-item">My Orders</a>
                    <hr width="100%">
                    <a th:href="@{/products/products}" class="w3-bar-item">Products</a>
                    <hr width="100%">
                    <a th:href="@{/orders/orders}" class="w3-bar-item">Orders</a>
                    <hr width="100%">
                    <a th:href="@{/users/users}" class="w3-bar-item">Users</a>
                    <hr width="100%">
                    <a th:href="@{/logout}" class="w3-bar-item">Log Out</a>
                    <hr width="100%">
                </nav>
            </div>

            <div sec:authorize="hasAuthority('USER')">
                <nav class="side-nav">
                    <hr width="100%">
                    <a th:href="@{/users/settingUser}" class="w3-bar-item">Setting</a>
                    <hr width="100%">
                    <a th:href="@{/orders/orders-user}" class="w3-bar-item">My Orders</a>
                    <hr width="100%">
                    <a th:href="@{/logout}" class="w3-bar-item" >Logout</a>
                    <hr width="100%">
                </nav>
            </div>

        </aside>

        <main class="content text-center">

            <div class="table-contents">
                <div><br><br>
                    <div>
                        <table id="datetable" class="text-center" width="85%">
                            <tr>
                                <td align="right">
                                    <!-- <span id="p1">
                                        <input type="date" th:field="*{localDate}" placeholder="date" size="15"  />
                                    </span> -->
                                    <!-- <script>
                                        var date = new Date();
                                        var current_date = date.getFullYear()+"-"+(date.getMonth()+1)+"-"+ date.getDate();
                                        document.getElementById("p1").innerHTML = current_date;
                                    </script> -->
                                </td>
                            </tr>
                        </table>
                    </div><br>
                    <div>
                        <table id="tpordtable" class="text-center al-tab" width="65%">
                            <tr >
                                <td width="35%">
                                    <table class="lf-tb" id="lftable" >
                                        <tr>
                                            <td colspan="2">
                                                <b><i><span>All-Cool Inc</span></i></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i><span>VAT code:</span></i>
                                            </td>
                                            <td>
                                                <b><span>RO999999999</span></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i><span>Reg. no.:</span></i>
                                            </td>
                                            <td>
                                                <b><span>J40/1001/2022</span></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i><span>Address:</span></i>
                                            </td>
                                            <td>
                                                <b><span>Bucuresti</span></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <b><span>Nicolae Filipescu 39-41</span></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <b><span>sector 2, zip code 020961</span></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i><span>Phone no.:</span></i>
                                            </td>
                                            <td>
                                                <b><span>0370111111</span></b>
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                                <td width="30%">
                                    <img src="images/logo.png" alt="All-Cool" height="150">
                                </td>
                                <td width="35%" align="right">
                                    <table class="lf-tb" id="rgtable" th:each="user: ${user}">
                                        <tr>
                                            <td>
                                                <i><span>Customer</span></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b><span th:text="${user.firstName}"></span></b>
                                                <b><span> </span></b>
                                                <b><span th:text="${user.lastName}"></span></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i><span>Address:</span></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td >
                                                <b><span th:text="${user.city}"></span></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b><span th:text="${user.address1}"></span></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b><span th:text="${user.address2}"></span></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b><span th:text="${user.phone}"></span></b>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table><br><br>
                    </div>

                </div>

                <div>
                    
                    <table class="text-center al-tab" width="70%" th:href="@{/orders/create-order}">
                        <thead>
                        <tr>
                            <th width="3%">Id</th>
                            <th width="7%">Photo</th>
                            <th width="15%">Product</th>
                            <th width="10%">Producer</th>
                            <th width="10%">Quantity</th>
                            <th width="10%">Price (each)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cart: ${productListAddedToCart}">
                            <td class="counterCell" width="3%"></td>
                            <td width="7%">
                                <img th:src="*{'data:image/jpeg;base64,' + {cart.product.image}}" style="width: 50px;height: auto;">
                            </td>
                            <td width="15%" class="dist-left">
                                <i><span th:text="${cart.product.type}"></span></i>
                                <span> </span>
                                <span th:text="${cart.product.name}"></span>
                            </td>
                            <td  width="10%" th:text="${cart.product.producer}"></td>
                
                            <td width="10%">
                                <table id="mytable" width="100%">
                                    <tr>
                                        <td width="50%" align="center">
                                            <span> 1 btl.</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="10%" th:text="${#numbers.formatDecimal(cart.product.price, 0, 2)}"></td>
                        </tr>
                        </tbody>
                    </table><br>

                </div>


                <div>
                    <table class="text-center al-tab" id="trstable" width="65%">
                        <tr>
                            <td width="90%" align="right"><i><span>Transport price:</span></i></td>
                            <td width="10%" align="left"><i><span>25.00 lei</span></i></td>
                        </tr>
                    </table>
                </div><br>
                
                <div>
                    <hr style="color:red; width: 70%; margin: auto;"><br>
                </div>

                <div>
                    <table class="text-center al-tab" id="fpxtable" width="65%">
                        <tr>
                            <td width="90%" align="right"><b><span>Total price:</span></b></td>
                            <td width="10%" align="left">
                                <b><span th:text="${#numbers.formatDecimal(totalPrice, 0, 2)}">
                                    <input type="number" th:field="*{total}" disabled />
                                </span><span> lei</span></b></td>
                        </tr>
                    </table>
                </div><br>

                <div>
                    <hr style="color:red; width: 70%; margin: auto;"><br>
                </div>
                <form action="#" method="POST" enctype="multipart/form-data" th:action="@{/orders/create-order}" th:object="${order}">

                <div >
                    <table class="text-center al-tab" id="pymtable" width="60%">
                        <tr>
                            <td align="left" colspan="2">
                                <b><span>Payment method </span></b>
                                <span class="red-pay"><i>(Required)</i></span>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" width="25%">
                                <table id="cashtable" >
                                    <tr>
                                        <td>
                                            <input type="radio" th:field="*{paymentMethod}" value="CASH" required />
                                        </td>
                                        <td>
                                            <span>Cash</span>
                                        </td>
                                        <td>
                                            <img class="img-pay" src="images/cash380x310.png" alt="Cash">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td align="left" widt="25%">
                                <table id="cardtable">
                                    <tr>
                                        <td>
                                            <input type="radio" th:field="*{paymentMethod}" value="CARD" required />
                                        </td>
                                        <td>
                                            <span>Card</span>
                                        </td>
                                        <td>
                                            <img class="img-pay" src="images/card380x310.png" alt="Card">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                </div>

                <div>
                    <hr style="color:red; width: 70%; margin: auto;"><br>
                </div>
                
                <div>
                    <table id="lwtable" width="70%">
                        <tr>
                            <td align="center">
                                <div>
                                    <button class="btt-order">Order</button>
                                </div>
                            </td>
                        </tr>
                    </table>


                </div>
                </form>

                <br>
            </div>

            <br>

        </main>
    </div>
</div>

<div class="container">
    <footer>
        <div>
            <nav class="menu-nav">
                <a th:href="@{/global/terms}">Terms</a>|
                <a th:href="@{/global/gdpr}">GDPR</a>|
                <a th:href="@{/global/contact}">Contact</a>
                <br>
            </nav>
        </div>
        <div class="after-footer">
            <hr color="red">
            <p id="p-footer">&copy; 2022 All-Cool - by Admin<br/></p>
        </div>
    </footer>
</div>


</body>
</html>

