<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create products</title>

    <link rel="stylesheet" type="text/css" href="css/products.css" th:href="@{/css/products.css}">


</head>

<body>

<div class="w3-sidebar">
    <div>
        <img src="images/logo.png" alt="All-Cool" height="75">
    </div><br>
    <div>
        <nav class="side-nav">
            <hr width="100%">
            <a th:href="@{/users/setting}" class="w3-bar-item">Setting</a>
            <hr width="100%">
            <a th:href="@{/products/products}" class="w3-bar-item">Products</a>
            <hr width="100%">
            <a th:href="@{/orders/orders}" class="w3-bar-item">Orders</a>
            <hr width="100%">
            <a th:href="@{/users/users}" class="w3-bar-item">Users</a>
            <hr width="100%">
            <a th:href="@{/}" class="w3-bar-item">Log Out</a>
            <hr width="100%">
        </nav>
    </div>
</div>

<header>
    <div>
        <nav class="menu-nav">
            <a th:href="@{/}">Home</a>|
            <a th:href="@{/products/cognac}">Cognac</a>|
            <a th:href="@{/products/whiskey}">Whiskey</a> |
            <a th:href="@{/products/rum}">Rum</a> |
            <a th:href="@{/products/champagne}">Champagne</a> |
            <a th:href="@{/products/wine}">Wine</a> |
            <a th:href="@{/products/vodka}">Vodka</a> |
            <a th:href="@{/users/login-user}"><img src="images/sign-in100px.png" alt="Login" width="20px"></a> |
            <a th:href="@{/users/login-user}"><img src="images/cart-100px.png" alt="Order" width="25px"></a>
        </nav>
    </div>
</header>

<br>
<div class="table-contents" >

    <div class="right-move">
        <img class="logo" src="images/logo.png" alt="All-Cool" height="225">
    </div>

    <table  width="45%" align="center">
        <tr>
            <td>
                <div class=".form-product">
                    <form action="#" method="POST" enctype="multipart/form-data" th:action="@{/products/create-product}" th:object="${product}">
                        <div class="container">
                            <h1 class="center"> Add New Product</h1>
                            <hr><br>
                            <div>

                                <div>
                                    <label> <sup class="asterix">*</sup> Name of product: </label>
                                </div><br>
                                <div >
                                    <input type="text" th:field="*{name}" id="name" name="productName" placeholder= "Name of product" size="50"  maxlength="12" required />
                                </div><br>
                                <hr><br>

                                <div>
                                    <label> <sup class="asterix">*</sup> Type of product: </label>
                                </div><br>
                                <div >
                                    <input type="text" th:field="*{type}" id="type" name="typeProduct" placeholder= "Type of product" size="15" maxlength="12" required />
                                </div><br>
                                <hr><br>

                                <div>
                                    <label> <sup class="asterix">*</sup> Name of producer: </label>
                                </div><br>
                                <div >
                                    <input type="text" th:field="*{producer}" id="producer" name="producerName" placeholder= "Name of producer" size="50" maxlength="12" required />
                                </div><br>
                                <hr><br>

                                <div>
                                    <label> <sup class="asterix">*</sup> Price: </label>
                                </div><br>
                                <div >
                                    <input type="number" th:field="*{price}" id="price" name="price" placeholder= "Price" size="50"  required />
                                </div><br>
                                <hr><br>

                                <div>
                                    <label> <sup class="asterix">*</sup> Quantity: </label>
                                </div><br>
                                <div >
                                    <input type="number" th:field="*{qty}" id="qty" name="quantity" placeholder= "Quantity" size="50"  required />
                                </div><br>
                                <hr><br>

                                <div>
                                    <label> <sup class="asterix">*</sup> Bottle size: </label>
                                </div><br>
                                <div >
                                    <input type="text" th:field="*{bottleSize}" id="bottle_size" name="bottleSize" placeholder= "Bottle Size" size="50"  required />
                                </div><br>
                                <hr><br>

                                <div>
                                    <label> Description: </label>
                                </div><br>
                                <div >
                                    <input type="text" th:field="*{description}" id="description" name="producerName" placeholder= "Maximum 1500 characters" size="50"  maxlength="1500" />
                                </div><br>
                                <hr><br>

                                <div>
                                    <label class="custom-file-label" for="customFile"><sup class="asterix">*</sup> Choose Photo</label>
                                </div><br>
                                <div>
                                    <input type="file" name="file" class="custom-class-input" id="customFile" required />
                                </div><br>
                                <hr><br>
                                <div>
                                    <label class="red-label"> <sup class="asterix">*</sup> <id="req"></id>Required </label>
                                </div><br>

                                <hr><br>

                                <div class="center">
                                    <button>Add new product</button>
                                </div><br>
                            </div>
                    </form>
                </div>
            </td>
        </tr>





        <div>
            <table width="100%" align="right" bgcolor="#C9D3C7">
                <tr>
                    <td>
                        <div>
                            <nav class="menu-nav">
                                <a th:href="@{/global/terms}">Terms</a>|
                                <a th:href="@{/global/gdpr}">GDPR</a>|
                                <a th:href="@{/global/contact}">Contact</a>
                                <br>
                            </nav>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="after-footer">
                            <hr color="red">
                            <p id="p-footer">&copy; 2022 All-Cool - Created by Admin<br/></p>
                        </div>
                    </td>
                </tr>
            </table>

        </div>


</body>


</html>