<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>GDPR</title>


    <link rel="stylesheet" type="text/css" href="/css/global.css" th:href="@{/css/global.css}" />
    

</head>

<body>
    <header>
        <div>
            <nav class="menu-nav">
                <a th:href="@{/}">Home</a>|
                <a th:href="@{/products/cognac}">Cognac</a>|
                <a th:href="@{/products/whiskey}">Whiskey</a> |
                <a th:href="@{/products/rum}">Rum</a> |
                <a th:href="@{/products/champagne}">Champagne</a> |
                <a th:href="@{/products/wine}">Wine</a> |
                <a th:href="@{/products/vodka}">Vodka</a> |
                <a th:href="@{/users/user}"><img src="images/sign-in100px.png" alt="Login" width="20px"></a> |
                <a th:href="@{/users/user}"><img src="images/cart-100px.png" alt="Order" width="25px"></a>
            </nav>
        </div>
    </header>

    <div class="terms">
        <div>
            <h1>PRIVACY POLICY</h1>
        </div>

        <div>
            <h3>INTRODUCTION</h3>
        </div>
        <div>
            This website is operated by All-Cool Inc, located at Bucharest, TechHub Building, Nicolae Filipescu 39-41, postal code 020961, sector 2, registered in under the number RO 999999999.<br><br>
            This Privacy Policy (the "Policy") sets forth how All-Cool collects, uses, and protects personal data - i.e., any personally identifiable information relating to you, referred to hereinafter as "you," "User," or "Data Subject," (whether in the singular or plural) - throughout your use of the Site and any related digital services provided by All-Cool (collectively, the "Services"). This Policy covers all Users, including those who use the Site and Services without being registered or subscribing to a specific service.<br><br>
            All-Cool is a "data controller" in the context of applicable legislation, regulations, or other governmental requirements regarding data protection including but not limited to<br>
            (i) the Law 225 of 2015 (the "Fiscal CODE");<br>
            (ii) the European Privacy and Electronic Communications Regulations of 2003 (derived from the Privacy and Electronic Communications Directive 2002/58/EC);<br>
            (iii) the Regulation (EU) 2016/679 of the European Parliament and the Council of 27 April 2016 (known as the General Data Protection Regulation or "GDPR") which entered into force on 25 May 2018; and (iv) any other applicable laws, statutes, statutory instruments, orders, regulations, and codes of practice in force and which apply to the processing of a User's personal data (collectively "Applicable Law").
        </div>

        <div>
            <h3>1. INFORMATION COLLECTED</h3>
        </div>
        <div>
            Depending on the Services offered by the Site, and the settings-related to cookies and otherwise-of any device that you use to access the Site, the personal data concerning you (your "Personal Data") that All-Cool collects and processes includes but is not limited to:
        </div>
        <div>
                <ul>
                    
                    <li>Data relating to your identity and contact details (e.g., title, surname, first name, email address, telephone number, age, country of residence, province, decanter number and WeChat ID) that you have provided via any of the Site's Services, such as creating an account, participating in an online event, requesting support or contacting us;</li>
                    <li>Marketing data relating to your use of the Site, your preferences and interests including your browsing habits, notification preferences, loyalty programs, or any requests made to All-Cool's customer or Concierge service;</li>
                    <li>Cookies, trackers, and similar functions to analyse how you use the Services and how the Site or Services respond(s). (For more information on how the Site utilizes cookies, see below).</li>
                    <li>All-Cool also collects and processes following personal data from e-commerce platform(s) utilized by or in conjunction with the Site, such as ReserveBar:</li>
                    <li>Data relating to your purchases such as quantity, price, membership level, location data and invoice data;</li>
                    <li></li>
                    <li>Information relating to the means of payment.</li>
                </ul>
        </div>
        <div>
            Third Party Services: The Services may be associated with websites published by third-party entities not affiliated with All-Cool including, but not limited to:
        </div>
        <div>
            <ul>
                <li>Any e-commerce platform utilized by or in conjunction with the Site including, but not limited to, ReserveBar; or</li>
                <li>Social networks such as Facebook, Instagram, Twitter, YouTube, WeChat or LinkedIn, among others. Such possible links to other websites should not be considered as navigation tracking and All-Cool disclaims any responsibility concerning the personal data protection practices implemented by such third-party entities, each of which acts as a separate data controller of your personal data. Once you leave the Site or click on any link to any such external social networks, it is your responsibility to check the privacy policy applicable to that website, service, or application.</li>
            </ul>
        </div>
        <div>
            The personal data All-Cool needs for the purposes described below are accompanied on the relevant pages of the Site with an asterisk next to a link to this Policy. Without such required data, All-Cool will not be able to respond to your requests and/or provide you with the requested Services. Any other personal data are purely optional and are collected for the purposes of providing you with optimized Services.
        </div>

        <div>
            <h3>2. LEGAL BASIS AND PURPOSES OF DATA PROCESSING</h3>
        </div>
        <div>
            All-Cool may use and process Personal Data about you for the following purposes:<br>
            a) Confirming that you meet the minimum legal age requirements for the Services requested;<br>
            b) Supplying services requested;<br>
            c) Responding to your requests, comments, and complaints;<br>
            d) Understanding your interests and your use of All-Cool's products and Services in order to personalize and optimize your experience;<br>
            e) Conducting analytics of All-Cool marketing campaigns and the Site's activities;<br>
            f) Sending commercial communications about products and Services that may be of interest to you, provided that you have given your prior consent to receive such communications;<br>
            g) Managing the security of the Site in order to protect it from fraud, theft, or any other activity that may affect the Services;<br>
            h) Improving the Site or providing you with technical support; or<br>
            i) Complying with legal, regulatory, administrative, or compliance-related obligations (e.g., maintaining business records required to meet any obligations set forth by governing or other third parties that may impact All-Cool's business and operations, e.g., insurers or auditors).<br>
            The purposes of processing mentioned above at (a) and (i) are based on All-Cool's compliance with the applicable legal and regulatory obligations to which it is subject;<br>
            The processing purposes mentioned above from (b) to (h) are based on the legitimate interest of the Data Controller and are necessary to operate the website and respond to User requests.<br>
            For some of the cookies that may be used (see Section 6), the processing is based on the consent of the Data Subjects;<br>
            All-Cool is committed to avoiding any maintenance of Personal Data that would be contrary to the purposes for which it was collected. Thus, All-Cool strives to collect only Personal Data that is necessary for the purposes stated in this Policy. All-Cool will endeavour to seek a User's specific consent before processing Personal Data for any purpose not already set forth in this Policy.
        </div>

        <div>
            <h3>3. YOUR RIGHTS</h3>
        </div>
        <div>
            In accordance with Applicable Law, you have the rights of access, rectification, erasure, restriction of processing, objection, or portability of your personal data that All-Cool maintains, to the extent applicable, unless All-Cool can demonstrate a compelling, legitimate reason for retaining such Personal Data.<br>
        While any processing of your data is based on your consent, you have the right to withdraw such consent at any time. You may ask All-Cool to stop sending you information regarding our offers, news, and events by using the unsubscribe link found in every email we send you. You may write to us at: admin@all-cool.com. (Depending on the request, All-Cool may interact with you in order to better understand your request after confirming your identity so as to ensure that your request does not infringe any third-party rights.) In addition, you can lodge a complaint with your local data protection authority.<br>
        Moreover, Users who are residents of certain territories, by emailing the address above, may have the right to request from All-Cool what personal information the Site is collecting about such a User, how All-Cool uses such information, that All-Cool not sell such information, and/or that All-Cool should delete it.
        </div>
        
        <div>
            <h3>4. RECIPIENTS OF DATA</h3>
        </div>
        <div>
            Your Personal Data will not be transferred to or made accessible by third parties, except possibly:
        </div>      
        <div>
            <ul>
                <li>by other entities of the All-Cool after obtaining your consent or for internal administrative purposes;</li>
                <li>by our service providers internal or external to the All-Cool (e.g., hosting or advertising partners, or marketing and advertising agencies any of which may act, upon your consent, as either a data controller or data processor depending on the services provided to All-Cool;</li>
                <li>by our external advisors (lawyers, accountants, auditors, etc.);</li>
                <li>in the event of a change of control, if we sell or otherwise transfer all or part of All-Cool or our assets to another company (e.g., through merger, acquisition, or liquidation); or</li>
                <li>when such disclosure is required by a legal or regulatory provision or by a court decision; or when such disclosure is necessary to ensure the protection and defence of rights or to avoid possible damage.</li>
            </ul>
    </div>        
        
    <div>
        <h3>5. DATA TRANSFER AND SECURITY MEASURES</h3>
    </div>
    <div>
        All-Cool may transfer information that we collect about you, across borders.<br>
        If you are located in the European Union, All-Cool may transfer your personal data to another country outside of the UK or European Union. Where All-Cool transfers your data to such third countries (e.g., for transaction processing or fraud prevention purposes), we ensure an adequate level of protection by entering into agreements with the recipients of your personal data, based on the European Commission's standard contractual clauses or other valid transfer mechanisms. All-Cool further acts in accordance with the European Court of Justice's decision of 16 July 2020 "Schrems II" (Case C 311-18) along with the guidance of the European Data Protection Board regarding risk assessments of transferred data. Please contact us if you would like to receive a copy of the safeguards in place to secure data transfers outside the European Economic Area.<br>
        Data is processed both manually and electronically and is protected by appropriate security measures. While All-Cool will provide an adequate level of protection for your data and ensure that appropriate technical and organisational security measures are in place to protect it against accidental or unlawful destruction, loss, or alteration, unauthorised disclosure or access, and against all other forms of unlawful processing, All-Cool cannot guarantee against malicious actions of third parties.<br>
        The same level of protection is contractually imposed by All-Cool on all its subcontractors. Any employee of All-Cool who, in the course of his or her duties, may have access to your personal data undertakes to hold it in strict confidence. However, as the Internet is not completely secure, we cannot guarantee that your personal information stored or sent will be completely safe. We encourage you to exercise caution when using the Internet to access our website.
    </div> 
    
    <div>
        <h3>6. COOKIES</h3>
    </div>
    <div>
        All-Cool uses cookies to provide, protect, and improve the Site in the following manner.
    </div>
    <div>
        <h4>
            Cookie List
        </h4>
    </div>
    <div>
        A cookie is a small piece of data (text file) that a website - when visited by a user - asks your browser to store on your device in order to remember information about you, such as your language preference or login information. Those cookies are set by us and called first-party cookies. We also use third-party cookies - which are cookies from a domain different than the domain of the website you are visiting - for our advertising and marketing efforts. More specifically, we use cookies and other tracking technologies for the following purposes:
    </div>
    <div>
        <h4>
            Strictly Necessary Cookies
        </h4>
    </div>
    <div>
        We use essential cookies to ensure our website functions as intended for users and to keep it secure. You can set your browser to block or alert you about these cookies, but some parts of the site will not work as intended. These cookies do not store any personally identifiable information.
    </div>
    <div>
        <h4>
            Performance Cookies
        </h4>
    </div>
    <div>
        We use analytics cookies to help us to measure and improve the performance of our site and your browsing experience, by understanding how our users are interacting with the site and which pages are the most and least popular. All information collected by these cookies is anonymous.
    </div>
    <div>
        <h4>
            Functional Cookies
        </h4>
    </div>
    <div>    
    These cookies allow us to offer enhanced functionality and personalisation, including recognising you when you return to our site and remembering your user preferences (for example, your choice of region). They may be set by us or by third party providers whose services we have added to our pages. Without these cookies, some or all of these services may not function properly.
    </div>
    <div>
        <h4>
            Targeting Cookies
        </h4>
    </div>
    <div>    
    We use targeting cookies, set through advertising partners, to build a profile of your interests and show you relevant products, services and content on other sites that you visit, through paid advertising. They also help us to understand the performance of our marketing efforts. These cookies do not store directly personal information, but are based on uniquely identifying your browser and internet device.
    </div>
    <div>
        <h4>
            Consent Management
        </h4>
    </div>   
    <div>    
    When you first visit our website, you will be asked to accept or decline the use of certain cookies. You can change your choices at any time by clicking.
    </div>       
    <div>
        <h4>
            Managing cookies in your browser
        </h4>
    </div>
    <div>
        Without your explicit consent, no cookies are deposited on your device. Thus, the refusal to deposit cookies is set by default.<br>
        When you make a choice (acceptance or refusal to deposit all or part of the data), we keep your choice for a period of six months from the date of collection.<br>
    </div>
    <div>
        In order to manage your cookie expectations as precisely as possible, you can also change the settings of your web browser. Below you will find links to support pages for disabling cookies on the most commonly used browsers:
    </div>
    <div>
        <ul>
            <li>Internet Explorer: https://support.microsoft.com/en-us/topic/use-do-not-track-in-internet-explorer-11-ad61fa73-d533-ce96-3f64-2aa3a332e792</li>
            <li>Firefox: https://support.mozilla.org/en-US/kb/how-do-i-turn-do-not-track-feature</li>
            <li>Google Chrome:https://support.google.com/chrome/answer/114836?hl=en&ref_topic=3421433</li>
            <li>Safari: https://help.apple.com/safari/mac/9.0/#/sfri40732</li>
            <li>Opera: https://help.opera.com/en/latest/</li>
        </ul>
    </div>
    <div>
        If you refuse to accept cookies that are strictly necessary for the website to function, or if you delete the cookies stored on your device, you may no longer be able to benefit from a certain number of functions that are necessary to use the Site. For example, the Services may not be able to identify you, the browser being used, or country-specific functionality. As such, All-Cool shall not be responsible for any consequences related to a lack of functionality of our Services resulting from a User's declination or clearing of cookies related to the Services or the Site.
    </div>
    <div>
        <h4>
            Duration of data retention
        </h4>
    </div>
    <div>
        Cookies are stored on your device for as long as is necessary to ensure an optimal User experience with the Site and the Services.
    </div>
    <div>
        <ul>
            <li>Cookies, which may or may not require your consent, are stored on your device for a maximum of 13 months after they are created.</li>
            <li>The information collected via cookies is kept for 25 months from the date of their creation on your device.</li>
            <li>Your choice, consent, and/or refusal, regarding cookies is retained for a period of six months, after which you will be asked to manage cookies on the Site.</li>
        </ul>
    </div>

    <div>
        <h3>7. DATA RETENTION</h3>
    </div>
    <div>
        Identifiable User Data will be retained only for as long as is necessary for the purposes described in this Policy, or for as long as is necessary to comply with any legal, regulatory, or other government-imposed obligation. Please note that the length of time required by such governing entities to retain data may vary by country or other territorial authority.
    </div>
    <br>
    <div>
        For example:
    </div>
    <div>
        <ul>
            <li>In the event of the conclusion of a contract or an order, within the framework of the Services or otherwise, for the entire period of the contractual relationship, and then kept in an intermediate archive for a period corresponding to the period of the guarantee, if any, plus the applicable limitation period.</li>
            <li>Data of prospective customers or any User of the Site will be kept for a period of three years after the collection of the data or the last contact. After this period, the data will be deleted or anonymized.</li>
            <li>Personal data collected and processed in the "Live Chat" section will only be kept for the duration of the support session. Such data will be deleted thereafter.</li>
            <li>In the event that All-Cool is required to fulfil a legal obligation, User data will be maintained for the time so long as necessary to fulfil such obligation.</li>
            <li>If you request to unsubscribe, your Personal Data will be destroyed within 30 days.</li>
        </ul>
    </div>

    <div>
        <h3>8. PROTECTION OF MINORS</h3>
    </div>
    <div>
        The website is not intended for Internet users under the legal drinking age of such user's territory. As such, All-Cool does not collect personal data from minors. If you are under the legal drinking age, which varies by country, you are prohibited from using the Site and Services. If you are the parent or guardian of a minor about whom you believe we have collected information, please contact us.
    </div>

    <div>
        <h3>9. CONTACT US</h3>
    </div>
    <div>
        If you have any questions about this Policy or wish to exercise your rights, please contact our Data Protection Officer by sending an email to privacy@all-cool.com.<br>
        All-Cool may change or update this Policy at any time, so please review it regularly. Any update to this policy will be current when posted to this page of the Site at which time we may provide a notice of such changes as required.
    </div>

    <div>
        <br>Last updated on 21 November 2022.
    </div>
        
    </div><br><br>

    <footer>
        <div>
            <nav class="menu-nav">
                <a th:href="@{/global/terms}">Terms</a>|
                <a th:href="@{/global/gdpr}">GDPR</a>|
                <a th:href="@{/global/contact}">Contact</a>
                <br>
            </nav>
        </div>
        <div class="after-footer">
            <hr color="red">
            <p id="p-footer">&copy; 2022 All-Cool - Created by Admin<br/></p>
         </div>
    </footer>


</body>
</html>