<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login Admin</title>
    <style>
        body {
            background-image: url("images/regadmin-background.jpg");
            height: 750px;
            background-position: center top;
            background-size: cover;
        }
    </style>


    <link rel="stylesheet" type="text/css" href="css/users.css" th:href="@{/css/users.css}">
    

</head>

<body>
<header>
    <div>
        <nav class="menu-nav">
            <a th:href="@{/}">Home</a>|
            <a th:href="@{/products/cognac}">Cognac</a>|
            <a th:href="@{/products/whiskey}">Whiskey</a> |
            <a th:href="@{/products/rum}">Rum</a> |
            <a th:href="@{/products/champagne}">Champagne</a> |
            <a th:href="@{/products/wine}">Wine</a> |
            <a th:href="@{/products/vodka}">Vodka</a> |
            <a th:href="@{/users/login-user}"><img src="images/sign-in100px.png" alt="Login" width="20px"></a> |
            <a th:href="@{/users/login-user}"><img src="images/cart-100px.png" alt="Order" width="25px"></a>
        </nav>
    </div>
</header>


    <br/> <br/>
    <div>
        <img class="logo" src="images/register-logo.png" alt="All-Cool" height="225">
    </div>


<br/>

<!-- <div class="login-page">
    <div class="form">
      <form method="post" class="form-signing" th:action="@{/login}" th:object="${user}">
      <h2 id="signIn">Login Admin</h2>
      <p>
        <input th:field="*{email}" type="email" placeholder="email"/>
      </p>
      <p>
        <input th:field="*{password}" type="password" placeholder="password"/>
      </p>
      <p>
        <button type="submit" id="loginButton" value="Login"><a th:href="@{/users/admin}">login</a></button>
      </p>
           
      </form>
    </div>
  </div> -->

<div class="login-page">
    <div class="form">
        <form>
            <h2 id="signIn">Login Admin</h2>
            <p>
                <input type="email" placeholder="email"/>
            </p>
            <p>
                <input type="password" placeholder="password"/>
            </p>
            <p>
                <button><a th:href="@{/users/admin}">Login</a></button>
            </p>
        </form>
    </div>
</div><br>
  

    <footer>
        <div>
            <nav class="menu-nav">
                <a th:href="@{/global/terms}">Terms</a>|
                <a th:href="@{/global/gdpr}">GDPR</a>|
                <a th:href="@{/global/contact}">Contact</a>
                <br>
            </nav>
        </div>
        <div class="after-footer">
            <hr color="red">
            <p id="p-footer">&copy; 2022 All-Cool - Created by Admin<br/></p>
        </div>
    </footer>   

    

</body>


</html>