<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div class="login">
    <div class="container">
        <form method="post" class="form-signing" th:action="@{/login}" th:object="${user}"
              style="max-width: 350px; margin: 0 auto">
            <h2 id="signIn">Sign In</h2>
            <p>
                <input th:field="*{email}" type="email" class="form-control" placeholder="Enter email">
            </p>
            <p>
                <input th:field="*{password}" type="password" class="form-control" placeholder="Password">
            </p>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember Me</label>
            </div>
            <p>
                <a th:href="register">Register User</a>
            </p>

            <button type="submit" id="loginButton" value="Login">Login</button>
        </form>
    </div>
</div>
</body>
</html>