<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>All-Cool</title>
    <style>
        body {
            background-image: url("images/not-background.jpeg");
            height: 750px;
            background-position: center top;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="css/users.css" th:href="@{/css/users.css}">

</head>

<body>

    <header>
        <div>
            <nav class="menu-nav">
                <a th:href="@{/}">Home</a>|
                <a th:href="@{/products/cognac}">Cognac</a>|
                <a th:href="@{/products/whiskey}">Whiskey</a> |
                <a th:href="@{/products/rum}">Rum</a> |
                <a th:href="@{/products/champagne}">Champagne</a> |
                <a th:href="@{/products/wine}">Wine</a> |
                <a th:href="@{/products/vodka}">Vodka</a> |
                <a th:href="@{/users/user}"><img src="images/sign-in100px.png" alt="Login" width="20px"></a> |
                <a th:href="@{/users/user}"><img src="images/cart-100px.png" alt="Order" width="25px"></a>
            </nav>
        </div>
    </header>


    <br/> <br/>
    <div class="notall">
        <div >
            <img class="logo" src="images/register-logo.png" alt="All-Cool" height="225">
        </div><br>

        
    </div><br>
    <div class="notdiv" >
        <div class="p-div">
            <p><h2>It is illegal to sell alcoholic products to anyone under the age of 18!</h2></p>
        </div>

    </div>

    <footer>
        <div>
            <nav class="menu-nav">
                <a th:href="@{/global/terms}">Terms</a>|
                <a th:href="@{/global/gdpr}">GDPR</a>|
                <a th:href="@{/global/contact}">Contact</a>
                <br>
            </nav>
        </div>
        <div class="after-footer">
            <hr color="red">
            <p id="p-footer">&copy; 2022 All-Cool - Created by Admin<br/></p>
        </div>
    </footer>  


<br/>






        
       
        


    

</body>


</html>