<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>All-Cool</title>
    <style>
        body {
            background-image: url("images/not-background.jpeg");
            height: 750px;
            background-position: center top;
            background-size: cover;
        }
    </style>


    <link rel="stylesheet" type="text/css" href="css/style1.css">
    

</head>

<body>

    <div class="topnav">
        <nav>
            <a href="../index.html">Home</a>|
            <a href="../products/cognac.html">Cognac</a>|
            <a href="../products/whiskey.html">Whiskey</a> |
            <a href="../productsrum.html">Rum</a> |
            <a href="../products/champagne.html">Champagne</a> |
            <a href="../products/wine.html">Wine</a> |
            <a href="../products/vodka.html">Vodka</a> |
            <a href="login.html"><img src="images/sign-in100px.png" alt="Login" width="20px"></a> |
            <a href="images/orders.html"><img src="images/cart-100px.png" alt="Order" width="25px"></a>
        </nav>
    </div>


    <br/> <br/>
    <div class="notall">
        <div >
            <img class="logo" src="images/register-logo.png" alt="All-Cool" height="225">
        </div><br>

        
    </div><br>
    <div class="notdiv" >
        <div class="p-div">
            <p><h2>It is illegal to sell alcoholic products to anyone under the age of 18!</h2></p>
        </div>

    </div>


<br/>






        
       
        


    

</body>


</html>