<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">-->
<!--<head>-->
<!--&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;    <title>Producte</title>&ndash;&gt;-->
<!--&lt;!&ndash;    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"&ndash;&gt;-->
<!--&lt;!&ndash;          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"&ndash;&gt;-->
<!--&lt;!&ndash;            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"&ndash;&gt;-->
<!--&lt;!&ndash;            crossorigin="anonymous"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" type="text/css" href="css/style.css">&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;<nav class="nav navbar-expand navbar-dark bg-dark">&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="menuNav" th:href="@{/login}">&ndash;&gt;-->
<!--&lt;!&ndash;        <img th:src="@{/images/logo.jpg}"/>&ndash;&gt;-->
<!--&lt;!&ndash;    </a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="menuNav" aria-current="page" href="#">Active</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="menuNav" th:href="@{/product}">Products</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="menuNav" th:href="@{/cart-products}">Cart</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="menuNavLeft" th:href="@{/admin}">Admin</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="menuNavLeft" th:href="@{/login}">Login</a>&ndash;&gt;-->
<!--&lt;!&ndash;</nav>&ndash;&gt;-->

<!--<div class="row">-->

<!--    <div class="col-xl-3" th:href="@{/products/product}" th:each="product: ${productList}">-->
<!--        <div class="card p-3 bg-white">-->
<!--            <div class="about-product text-center mt-2">-->
<!--                <img th:src="*{'data:image/jpeg;base64,' + {product.image}}" style="width: 100px;height: 100px;">-->
<!--                <div>-->
<!--                    <h5 th:text="${product.name}">Card title</h5>-->


<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Product</title>

    <link rel="stylesheet" type="text/css" th:href="@{css/style01.css}">

</head>

<body>
<!-- <div>
        <object class="header" type=""text/html" data="global/header.html"></object>
    </div> -->

<!-- <br/> -->

<div class="topnav">
    <nav>
        <a th:href="@{/}">Home</a>|
        <a th:href="@{/products/cognac}">Cognac</a>|
        <a href="whiskey.html">Whiskey</a> |
        <a th:href="@{/products/rum}">Rum</a> |
        <a href="champagne.html">Champagne</a> |
        <a href="wine.html">Wine</a> |
        <a th:href="@{/products/proba}">Proba</a> |
        <a href="../users/login.html"><img src="images/sign-in100px.png" alt="Order" width="20px"></a> |
        <a href="../orders.html"><img src="images/cart-100px.png" alt="Order" width="25px"></a>
    </nav>
</div>

<br/>

<!-- <div>
    <center>
        <table border="0">
            <tr>
                <td><img class="logo" src="images/logo.png" alt="All-Cool" height="225"></td>
                <td><img src="images/cognac-00.jpg" alt="Cognac" height="500"></td>
                <td><img class="logo" src="images/logo.png" alt="All-Cool" height="225"></td>
            </tr>
        </table>
    </center>

</div> -->

<div class="div-top">
    <img class="img-top" src="images/cognac-wallpaper-db.jpg" alt="Cognac" height="500">
</div>

<br/>


<table border="1" class="table" th:href="@{/products}">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Review</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${productList}">
        <th th:text="${product.id}">1</th>

        <td th:text="${product.name}">Product</td>
        <td th:text="${product.price}">Price</td>
        <!-- <td>
            <img th:src="*{'data:image/jpeg;base64,' + {product.photo}}" style="width: 100px;height: 100px;" >
        </td>
        <td th:text="${cognac.type}">Product</td>
        <td th:text="${cognac.qty}">Price</td>
        <td th:text="${cognac.volume}">Price</td>
        <td th:text="${product.description}">@mdo</td>
        <td th:text="${product.price}">@mdo</td>
        <td th:text="${product.review}">@mdo</td> -->
    </tr>
    </tbody>
</table>

<div th:href="@{/products}">
<!--    <div class="col-xl-3" th:href="@{/products/product}" th:each="product: ${productList}">&ndash;&gt;-->
    <div th:each="product: ${productList}">
        <article >
            <div class="infoprod" >
                <div th:text="${product.name}">
                    <p></p>
                </div>
                <!-- <div>
                    <img src="images/cognac-01.jpg" alt="Cognac" height="225">
                    <img th:src="*{'data:image/jpeg;base64,' + {product.photo}}" style="width: 100px;height: 100px;">
                </div> -->
                <div>
                    <img th:src="*{'data:image/jpeg;base64,' + {product.image}}" style="width: 100px;height: 100px;">
                    <!--                    <img th:src="@{'data:image/jpeg;base64' + ${cognac.image}}" style="width: 100px;height: 100px;">-->
                    <!--                    <img  th:src="@{'data:image/jpeg;base64,'+${sb.encodedString}}" />-->
                </div>
                <div>
                    <font>164<sup>99</sup> lei</font>
                </div>
                <div th:text="${product.price}">
                    <p></p>
                </div>
            </div>
        </article>
    </div>
</div>
<br>
</body>
</html>