<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>All-Cool</title>
    <style>
        body {
            background-image: url("images/regadmin-background.jpg");
            height: 750px;
            background-position: center top;
            background-size: cover;
        }
    </style>


    <link rel="stylesheet" type="text/css" href="css/style.css">
    

</head>

<body>

    <div class="topnav">
        <nav>
            <a href="../index.html">Home</a>|
            <a href="../products/cognac.html">Cognac</a>|
            <a href="../products/whiskey.html">Whiskey</a> |
            <a href="../productsrum.html">Rum</a> |
            <a href="../products/champagne.html">Champagne</a> |
            <a href="../products/wine.html">Wine</a> |
            <a href="../products/vodka.html">Vodka</a> |
            <a href="login.html"><img src="images/sign-in100px.png" alt="Login" width="20px"></a> |
            <a href="images/orders.html"><img src="images/cart-100px.png" alt="Order" width="25px"></a>
        </nav>
    </div>


    <br/> <br/>
    <div>
        <img class="logo" src="images/register-logo.png" alt="All-Cool" height="225">
    </div>


<br/>

<div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="email" placeholder="email"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="user.html">Sign In</a></p>
      </form>
      <form class="login-form">
        <input type="email" placeholder="email"/>
        <input type="password" placeholder="password"/>
        <button>login</button>
      </form>
    </div>
  </div>
  

<!-- <p>text de proba</p>
<div background="white">
    <div class="container">
        <form method="post" class="form-signing" th:action="@{/login}" th:object="${user}"
              style="max-width: 350px; margin: 0 auto">
            <div class="border border-secondary rounded p-3">
                <h2 class="form-signing-heading">Sign In</h2>
                <p>
                    <input th:field="*{email}" type="email" class="form-control" placeholder="Enter email">
                </p>
                <p>
                    <input th:field="*{password}" type="password" class="form-control" placeholder="Password">
                </p>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                </div>
                <p>
                    <a th:href="register">Register User</a>
                </p>
                <button type="submit" class="btn btn-primary" value="Login">Login</button>
            </div>
        </form>
    </div>
</div> --> -->

    


    

   

    

</body>


</html>