<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <style>
        body {
            background-image: url("images/registerf-background.jpg");
            height: 750px;
            background-position: center top;
            background-size: cover;
        }
    </style>


<link rel="stylesheet" type="text/css" href="css/users.css" th:href="@{/css/users.css}">
    

</head>

<body>

    <div class="container clearfix">
        <header>
            <div>
                <nav class="menu-nav">
                    <a th:href="@{/}">Home</a>|
                    <a th:href="@{/products/cognac}">Cognac</a>|
                    <a th:href="@{/products/whiskey}">Whiskey</a> |
                    <a th:href="@{/products/rum}">Rum</a> |
                    <a th:href="@{/products/champagne}">Champagne</a> |
                    <a th:href="@{/products/wine}">Wine</a> |
                    <a th:href="@{/products/vodka}">Vodka</a> |
                    <a th:href="@{/users/user}"><img src="images/sign-in100px.png" alt="Login" width="20px"></a> |
                    <a th:href="@{/cart}"><img src="images/cart-100px.png" alt="Cart" width="25px"></a>
                </nav>
            </div>
        </header>
    </div>

<br>


<div class="container">
    <div class="text-center">
        <div>
            <img src="images/register-logo.png" alt="All-Cool" height="225">
        </div><br>
        <div>
            <p><h2>Are you an adult?</h2></p>
        </div>
        <div class="yes-not">
            <span> <a th:href="@{/users/register-user}"><img src="images/yes.png" alt="YES" height="50"></a></span>
            <span> <a th:href="@{/users/not-register}"><img src="images/no.png" alt="NO" height="50"></a></span>
        </div>
    </div><br><br>
</div>

<div class="container">
    <footer class="fix-ft">
        <div>
            <nav class="menu-nav">
                <a th:href="@{/global/terms}">Terms</a>|
                <a th:href="@{/global/gdpr}">GDPR</a>|
                <a th:href="@{/global/contact}">Contact</a>
                <br>
            </nav>
        </div>
        <div class="after-footer">
            <hr color="red">
            <p id="p-footer">&copy; 2022 All-Cool - by Admin<br/></p>
        </div>
    </footer>
</div>







</body>
</html>