<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>vodka</title>

    <link rel="stylesheet" type="text/css" th:href="@{css/style01.css}">

</head>

<body>
<!-- <div>
        <object class="header" type=""text/html" data="global/header.html"></object>
    </div> -->

<!-- <br/> -->

<div class="topnav">
    <nav>
        <a th:href="@{/}">Home</a>|
        <a th:href="@{/products/vodka}">vodka</a>|
        <a href="whiskey.html">Whiskey</a> |
        <a th:href="@{/products/rum}">Rum</a> |
        <a href="champagne.html">Champagne</a> |
        <a href="wine.html">Wine</a> |
        <a th:href="@{/products/proba}">Proba</a> |
        <a href="../users/login.html"><img src="images/sign-in100px.png" alt="Order" width="20px"></a> |
        <a href="../orders.html"><img src="images/cart-100px.png" alt="Order" width="25px"></a>
    </nav>
</div>

<br/>

<!-- <div>
    <center>
        <table border="0">
            <tr>
                <td><img class="logo" src="images/logo.png" alt="All-Cool" height="225"></td>
                <td><img src="images/vodka-00.jpg" alt="vodka" height="500"></td>
                <td><img class="logo" src="images/logo.png" alt="All-Cool" height="225"></td>
            </tr>
        </table>
    </center>

</div> -->

<div class="div-top">
    <img class="img-top" src="images/vodka-wallpaper-db.jpg" alt="vodka" height="500">
</div>

<br/>


<table border="1" class="table" th:href="@{/products/vodka}">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Review</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vodka: ${products}">
        <th th:text="${vodka.id}">1</th>

        <td th:text="${vodka.name}">Product</td>
        <td th:text="${vodka.price}">Price</td>
        <!-- <td>
            <img th:src="*{'data:image/jpeg;base64,' + {product.photo}}" style="width: 100px;height: 100px;" >
        </td>
        <td th:text="${vodka.type}">Product</td>
        <td th:text="${vodka.qty}">Price</td>
        <td th:text="${vodka.volume}">Price</td>
        <td th:text="${product.description}">@mdo</td>
        <td th:text="${product.price}">@mdo</td>
        <td th:text="${product.review}">@mdo</td> -->
    </tr>
    </tbody>
</table>

<div th:href="@{/products/vodka}">
    <div th:each="vodka: ${products}">
        <article >
            <div class="infoprod" >
                <div th:text="${vodka.name}">
                    <p></p>
                </div>
                <!-- <div>
                    <img src="images/vodka-01.jpg" alt="vodka" height="225">
                    <img th:src="*{'data:image/jpeg;base64,' + {product.photo}}" style="width: 100px;height: 100px;">
                </div> -->
                <div>
                    <img th:src="*{'data:image/jpeg;base64,' + {vodka.image}}" style="width: 100px;height: 100px;">
                    <!--                    <img th:src="@{'data:image/jpeg;base64' + ${vodka.image}}" style="width: 100px;height: 100px;">-->
                    <!--                    <img  th:src="@{'data:image/jpeg;base64,'+${sb.encodedString}}" />-->
                </div>
                <div>
                    <font>164<sup>99</sup> lei</font>
                </div>
                <div th:text="${vodka.price}">
                    <p></p>
                </div>
            </div>
        </article>
    </div>
</div>
<br>
</body>
</html>