<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Whiskey</title>

    <link rel="stylesheet" type="text/css" href="css/products.css" th:href="@{/css/products.css}">


</head>
<body>
<div class="container clearfix">
    <header>
        <div>
            <nav class="menu-nav">
                <a th:href="@{/}">Home</a>|
                <a th:href="@{/products/cognac}">Cognac</a>|
                <a th:href="@{/products/whiskey}">Whiskey</a> |
                <a th:href="@{/products/rum}">Rum</a> |
                <a th:href="@{/products/champagne}">Champagne</a> |
                <a th:href="@{/products/wine}">Wine</a> |
                <a th:href="@{/products/vodka}">Vodka</a> |
                <a th:href="@{/users/user}"><img src="images/sign-in100px.png" alt="Login" width="20px"></a> |
                <a th:href="@{/cart}"><img src="images/cart-100px.png" alt="Cart" width="25px"></a>
            </nav>
        </div>
    </header>
</div>

<div class="container">
    <img class="img-top" src="images/whiskey-wallpaper-db.jpg" alt="Whiskey" >
</div>

<br>
<div class="container">
    <div>
        <img class="img-resp" src="images/pleasedrinkresp.png" alt="Whiskey">
    </div>
</div>

<div class="clearfix" th:href="@{/products/whiskey}">
    <div th:each="product: ${products}" >
        <article class="prod-art">
            <div>
                Code: WHI<span th:text="${product.id}"></span>
                <div>
                    <div class="col-red">
                        <p th:text="${product.name}"></p>
                    </div>
                    <div>
                        <img th:src="*{'data:image/jpeg;base64,' + {product.image}}" style=" height: 200px">
                    </div>

                    <div >
                        <i><span th:text="${#numbers.formatDecimal(product.bottleSize, 0, 2)}"> </span><span class="al-lf-rg" > litres</span></i>

                        <i><span class="col-red" th:text="${#numbers.formatDecimal(product.price, 0, 2)}"> </span><span class="col-red"> lei</span></i>
                    </div><br>

                    <!-- <div class="text-center">
                        <a class="a-product" th:href="@{/products/product/{productId}(productId=${product.id})}" target="_blank"><i>More info...</i></a>
                    </div><br> -->
                    <div class="text-center">
                        <a class="add-cart" th:href="@{/cart/add-to-cart/{productId}(productId=${product.id})}"><img src="images/cart-100px.png" alt="Cart" width="15px"> Add to cart </a>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
<br>

<div class="container">
    <footer>
        <div>
            <nav class="menu-nav">
                <a th:href="@{/global/terms}">Terms</a>|
                <a th:href="@{/global/gdpr}">GDPR</a>|
                <a th:href="@{/global/contact}">Contact</a>
                <br>
            </nav>
        </div>
        <div class="after-footer">
            <hr color="red">
            <p id="p-footer">&copy; 2022 All-Cool - by Admin<br/></p>
        </div>
    </footer>
</div>

</body>

</html>