<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Wine</title>

    <link rel="stylesheet" type="text/css" href="css/products.css" th:href="@{/css/products.css}">


</head>

<header>
    <div>
        <nav class="menu-nav">
            <a th:href="@{/}">Home</a>|
            <a th:href="@{/products/cognac}">Cognac</a>|
            <a th:href="@{/products/whiskey}">Whiskey</a> |
            <a th:href="@{/products/rum}">Rum</a> |
            <a th:href="@{/products/champagne}">Champagne</a> |
            <a th:href="@{/products/wine}">Wine</a> |
            <a th:href="@{/products/vodka}">Vodka</a> |
            <a th:href="@{/users/user}"><img src="images/sign-in100px.png" alt="Login" width="20px"></a> |
            <a th:href="@{/users/user}"><img src="images/cart-100px.png" alt="Order" width="25px"></a>
        </nav>
    </div>
</header>

<br>

<div class="div-top">
    <img class="img-top" src="images/wine-wallpaper-db.jpg" alt="Wine" height="500">
</div>

<br>
<div class="divimg-footer">
    <div>
        <img class="img-footer" src="images/pleasedrinkresp.png" alt="Wine">
    </div>
</div>

<div th:href="@{/products/wine}">
    <div th:each="wine: ${products}" >
        <article class="prod-art">
            <div>
                <div>
                    <p th:text="${wine.name}"></p>
                </div>
                <div>
                    <img th:src="*{'data:image/jpeg;base64,' + {wine.image}}" style=" height: 200px">
                </div>
                <div>
                    <span th:text="${wine.price}"> </span><span> lei</span>
                </div><br>
                <div>
                    <a th:href="@{/users/login-user}"> COMANDA </a>
                </div>
            </div>

        </article>
    </div>
</div>

</body>

</html>